.header {
  text-align: center;
}

.header img {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header nav {
  background-color: black;
}

.header nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: all 0.1s linear;
  font-size: 20px;
}

.header nav a:hover {
  background-color: seagreen;
}
